[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/feral-vim"]
	path = bundle/feral-vim
	url = https://github.com/jedverity/feral-vim.git
[submodule "bundle/desertEx"]
	path = bundle/desertEx
	url = https://github.com/vim-scripts/desertEx.git
[submodule "bundle/vim-diff-enhanced"]
	path = bundle/vim-diff-enhanced
	url = https://github.com/chrisbra/vim-diff-enhanced
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/Zenburn"]
	path = bundle/Zenburn
	url = https://github.com/jnurmine/Zenburn
[submodule "bundle/vim-colors-github"]
	path = bundle/vim-colors-github
	url = https://github.com/acarapetis/vim-colors-github
