[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/desertex"]
	path = bundle/desertex
	url = https://github.com/mbbill/desertex
