[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/feral-vim"]
	path = bundle/feral-vim
	url = https://github.com/jedverity/feral-vim.git
[submodule "bundle/desertEx"]
	path = bundle/desertEx
	url = https://github.com/vim-scripts/desertEx.git
[submodule "bundle/vim-diff-enhanced"]
	path = bundle/vim-diff-enhanced
	url = https://github.com/chrisbra/vim-diff-enhanced
